*{
    box-sizing: border-box;
}
img {
    max-width: 100%;
}

input:focus {
    border: 1px solid rgb(14, 88, 238);
}

.container {
    margin: 0 auto;
    padding: 100px;
    max-width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add_task__container {
    margin-top: 20px;
    display: flex;
    gap: 15px;
    align-items: center;
}
.add_task_button {
    display: flex;
    align-items: center;
    width: 30px;
    cursor: pointer;
}
.add_task_input {
    padding: 5px;
    width: 200px;
    height: 30px;
}


.tasks_list__container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.tasks_list__item {
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    width: 245px;
    border-radius: 5px;
    height: 30px;
    background-color:white;
}
.task_item_delete {
    display: flex;
    align-items: center;
    width: 20px;
    cursor: pointer;
}

.completed_task {
    background-color: rgb(64, 187, 221);
}
